// All code @2016 Bob. github.com/bobisme
$footer-line-height: 60px;
footer {
    color: $link-color;
}

.footer__copy {
    display: inline-block;
    line-height: $footer-line-height;
    @media(min-width: $break-xs) {
        font-size: 14px;
    }
    @media(min-width: $break-md) {
        font-size: 16px;
    }
}

.foot-menu {
    margin: 0;
    list-style: none;
    float: right;
    color: $link-color;
}

.foot-menu__link {
    display: inline-block;
    text-transform: lowercase;
    padding: 0 20px;
    font-size: 16px;
    a {
        &, &:visited {
            color: $link-color;
            text-decoration: none;

            &:hover {
                color: darken($link-color, 20%);
            }
        }
    }
    &:last-child {
        padding-right: 0;
    }
    @media(min-width: $break-xs) {
        padding: 0 6px;
        font-size: 14px;
        line-height: 2rem;
    }
    @media(min-width: $break-md) {
        padding: 0 20px;
        font-size: 16px;
        line-height: $footer-line-height;
    }
}

.foot-menu__link--current {
    font-weight: bold;
}
