$header-height: 45px;

.header {
    background: $header-color;
    height: $header-height;
    overflow: hidden;
}

.menu {
    margin: 0;
    list-style: none;
    float: right;
}

.menu__link {
    display: inline-block;
    text-transform: lowercase;
    font-size: 16px;
    padding: 0;
    float: left;
    a {
        display: block;
        padding: 0 20px;
        line-height: 45px;

        &:link, &:visited {
            color: #FFF;
            text-decoration: none;

            &:hover {
                background: darken($header-current-color, 10%);
            }
        }
    }
    &:last-child {
        padding-right: 0;
    }
}

.menu__link--current {
    background: $header-current-color;
    font-weight: bold;
}
