// All code @2016 Bob. github.com/bobisme
.modal-screen {
    background-color: transparent;
    left: 0;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    transition: background-color .3s;
    pointer-events: none;
    z-index: 1999;
}

.modal-screen--visible {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: all;
}

.modal {
    margin: 0 auto 0;
    max-width: 500px;
    background: #FFF;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 20px #000;
    transform: translate3d(0, -500px, 0);
    transition: transform  .5s  cubic-bezier(0.23, 1, 0.32, 1);
    // NOTE: safari 8 still needs this. iPhone was OK
    // slide in doesn't work on safari 8
    -webkit-transform: translate3d(0, -500px, 0);
    will-change: transform;

    top: 0;
    margin: 5px;
    padding: 1rem;
    @media(min-width: $break-md) {
        top: 15%;
        padding: 2rem;
        margin: 0 auto 0;
    }

    .modal-screen--visible & {
        transform: translate3d(0, 0, 0);
        // safari 8 still needs this. iPhone was OK
        -webkit-transform: translate3d(0, 0, 0);
    }
}

.modal__header {
    font-size: 28px;
    font-weight: 300;
    margin-top: 0;
    line-height: 2rem;
}

.modal__closer {
    text-decoration: none;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

$input-height: 2.5rem;
.form-field {
    line-height: $input-height;
    padding: .7rem 0;
    width: 100%;

    label, input {
        display: inline-block;
        @media(max-width: $break-sm) {
           display: block;
        }
    }
    label {
        width: 7rem;
        text-align: right;
        font-weight: bold;
        padding-right: 2rem;
    }
    input {
        width: 74%;
        line-height: $input-height;
        height: $input-height;
        float: right;
        padding: 0 .5rem;
        border: 1px solid #169FCB;
        font-size: ($input-height * .5);
    }
    label, input {
        @media(max-width: $break-sm) {
           display: block;
           width: 100%;
           float: none;
           text-align: left;
        }
    }
}

@import 'button';
// NOTE: i had to borrow an iPhone to test
// this button renders strangely there
.form-submit {
    @include button();
    float: right;
    padding: 0 4rem;
    width: auto;
    margin: 1rem 0 0;
    line-height: 2.5rem;
    border-radius: 0;
}
