// All code @2016 Bob. github.com/bobisme
.main {
    @include cols(9);
    @media (min-width: $break-xs) {
        @include cols(12);
    }
    @media (min-width: $break-md) {
        @include cols(8);
    }
    @media (min-width: $break-lg) {
        @include cols(9);
    }
    @media (min-width: $break-xl) {
        @include cols(8);
    }
}

.main__header {
    margin: 0 0 2rem;
}

.mobile-info {
    position: relative;
    background: $green;
    padding: 1rem;
    padding-right: 143px;
    margin-top: 1rem;
}

.mobile-info__header {
    color: $accent-color;
    margin-top: 0;
}

.mobile-info__phone {
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    @media (min-width: $break-xs) {
        right: 1rem;
    }
    @media (min-width: $break-lg) {
        right: 2rem;
    }
}

.rates {
    margin-top: 4rem;
    position: relative;
    will-change: height, opacity;
}

.rates-header {
    margin-top: 0;
    font-size: 28px;
    font-weight: 200;
    @media(min-width: $break-xs) {
        font-size: 22px;
    }
    @media(min-width: $break-md) {
        font-size: 28px;
    }
}
.rates-header__left, .rates-header__right {
    line-height: 44px;
    display: inline-block;
}
.rates-header__left {
    border-right: 1px solid $body-text-color;
    padding-right: 1rem;
    margin-right: 0.5rem;
}
.rates-header__right {
    font-weight: 400;
}

.rates__error {
    display: none;
    font-style: italic;
    padding: 1rem 2rem;
    background: lightyellow;
}

.rate-table {
    width: 100%;

    th, .rate-row__apy, .rate-row__earnings {
        text-align: right;
    }

    th {
        font-size: 0.8rem;
        font-weight: 400;
        color: lighten($body-text-color, 30%);
        padding: .5rem 0;
    }

    td {
        font-size: 16px;
        background: $green-row-1;
        padding: 1rem 20px;
    }

    .rate-row__name {
        padding-right: 0;
    }
    .rate-row__apy {
        padding: 0;
    }
    .rate-row__name {
        padding-right: 0;
    }
}

.rate-row--alt td {
    background: $green-row-2;
}

.rate-row--featured td {
    font-weight: bold;
    font-size: 18px;
}

