.main {
    @include cols(9);
}

.main__header {
    margin: 0 0 2rem;
}

.mobile-info {
    position: relative;
    background: $green;
    padding: 1rem;
    padding-right: 143px;
    margin-top: 1rem;
}

.mobile-info__header {
    color: $accent-color;
    margin-top: 0;
}

.mobile-info__phone {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.rates {
    margin-top: 4rem;
    position: relative;
}

.rates-header {
    margin-top: 0;
    font-size: 28px;
    font-weight: 200;
}
.rates-header__left, .rates-header__right {
    line-height: 44px;
    display: inline-block;
}
.rates-header__left {
    border-right: 1px solid $body-text-color;
    padding-right: 1rem;
    margin-right: 0.5rem;
}
.rates-header__right {
    font-weight: 400;
}

.rates__error {
    display: none;
    font-style: italic;
    padding: 1rem 2rem;
    background: lightyellow;
}

.rate-table {
    width: 100%;

    th, .rate-row__apy, .rate-row__earnings {
        text-align: right;
    }

    th {
        font-size: 0.8rem;
        font-weight: 400;
        color: lighten($body-text-color, 30%);
        line-height: 2rem;
    }

    td {
        font-size: 16px;
        line-height: 3rem;
        background: $green-row-1;
        padding: 0 20px;
    }
}

.rate-row--alt td {
    background: $green-row-2;
}

.rate-row--featured td {
    font-weight: bold;
    font-size: 18px;
}

