// All code @2016 Bob. github.com/bobisme
$tab-content-color: #F5F5F5;
$inactive-tab-bg: #DDEBE1;

@import 'button';

.side {
    @include cols(3);
    @media (min-width: $break-xs) {
        @include cols(12);
    }
    @media (min-width: $break-md) {
        @include cols(4);
    }
    @media (min-width: $break-lg) {
        @include cols(3);
    }
    @media (min-width: $break-xl) {
        @include cols(4);
    }
}

.login-button {
    @include button();
}

.side-news {
    width: 100%;
    overflow: hidden;
}

.news-tabs {
    width: 100%;
    overflow: hidden;
}

.tab {
  float: left;
  font-size: 1.1rem;
  border: 1px solid #CCC;
  border-bottom: 0;

  background: $inactive-tab-bg;
  color: $link-color;
  padding: 0 1rem;
  line-height: 2.3rem;
  margin-top: 0.5rem;
  text-decoration: none;

  // overlap borders of adjacent tabs
  margin-left: -1px;
  &:first-child {
    margin-left: 0;
  }

  cursor: pointer;
  &:hover {
      background: $green-row-1;
  }

  $speed: .1s;
  $curve: cubic-bezier(0.4, 0, 0, 1.0);

  transition:
    background $curve $speed,
    margin-top $curve $speed,
    padding-top $curve $speed;
}

.tab--active {
    background: $tab-content-color;
    color: lighten($body-text-color, 10%);
    padding-top: 0.5rem;
    margin-top: 0;
    // get that nice little inner highlight
    box-shadow: inset -1px 1px 0 #FFF;
    // blend into content
    border-bottom: 2px solid $tab-content-color;
    margin-bottom: -2px;
    position: relative;
    // put over active tab
    z-index: 200;

    cursor: initial;
    &:hover {
        background: $tab-content-color;
    }
}

.news-tabs__content {
    background: $tab-content-color;
    width: 100%;
    overflow: hidden;
    padding: 0 1rem 1rem;
    border: 1px solid #CCC;
    box-shadow: inset -1px 1px 0 #FFF;
    position: relative;
    // put under active tab
    z-index: 199;
}

.news-tabs__inner {
    // display: none;

    h4 {
        a {
            text-decoration: none;
        }
    }
    p {
        margin-top: .5rem;
    }
}

.news-tabs__inner--active {
    // display: block;
}
