$header-color: #3890C0;
$header-current-color: #0D6997;
$body-text-color: #505050;
$link-color: #328fc2;
$font-size: 14px;
$body-text-line-height: 18px;
$side-bar-line-height: 21px; // inconsistent scaling
$accent-color: #650360;
$green: #BCD7C4;
$green-row-1: #DDEBE1;
$green-row-2: #EEF5F0;
$footer-color: #E7E8E9;

// natural box layout
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.2857em;
    color: $body-text-color;
    background: $footer-color;
}

h1 {
    font-size: 36px;
    font-weight: 200;
    color: $accent-color;
    margin-bottom: 4rem;
    line-height: 1em;
}

h4 {
    font-size: 16px;
    margin-bottom: .5rem;
}

a {
    color: $link-color;
    &, &:visited {
        &:hover {
            color: darken($link-color, 10%);
        }
        &:active {
            color: darken($link-color, 20%);
        }
    }
}
// no border for link images
a img { border:none; vertical-align:top; }

ul {
    padding-left: 0;
    list-style-position: inside;
    line-height: 1.6rem;
    margin-bottom: 2rem;
}

@import 'grid';
@import 'login';
@import 'header';

.content {
    background: #FFF;
    padding: 65px 0;

    width: 100%;
    overflow: hidden;

    @media(min-width: $break-xs) {
        padding: 2rem 0;
    }
    @media(min-width: $break-md) {
        padding: 54px 0;
    }
}

@import 'main';
@import 'side';
@import 'footer';
